<div class="card-body">
    <ul class="timeline">
        <li>
           
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Times now</h4>
                    
                </div>
                <div class="timeline-body">
                    <p>Speaking about his decision, Rijiju said, "While having my meal at the athletes mess (at the National Institute of Sports) in Patiala, I noticed that senior and junior athletes and SAI trainees have different diets since the food budget for each section is different. </p>
                </div>
            </div>
        </li>
       
        <li class="timeline-inverted">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Business News App</h4>
                </div>
                <div class="timeline-body">
                    <p>"I have therefore decided that going forward, there will be no discrepancy in the food budget of athletes who are training at SAI centers," added the Minister after having breakfast at the women's hostel here at NIS Patiala. </p>
                </div>
            </div>
        </li>
        
       
    </ul>
</div>
